## 1. The World Bank's international debt data
<p>No es que los humanos solo tengamos deudas para administrar nuestras necesidades. Un país también puede endeudarse para administrar su economía. Por ejemplo, el gasto en infraestructura es un ingrediente costoso requerido para que los ciudadanos de un país lleven una vida cómoda. El Banco Mundial es la organización que proporciona deuda a los países.</p>

<!-- <p>En este notebook, vamos a analizar los datos de la deuda internacional recopilados por el Banco Mundial. El conjunto de datos contiene información sobre el monto de la deuda (en USD) que deben los países en desarrollo en varias categorías.</p>  -->

"Disbursements on external debt, long-term (DIS, current US$)",DT.DIS.DLXF.CD
"Interest payments on external debt, long-term (INT, current US$)",DT.INT.DLXF.CD
"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD
"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD
"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD
"PPG, multilateral (AMT, current US$)",DT.AMT.MLAT.CD
"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD
"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD
"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD
"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD
"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD
"Principal repayments on external debt, long-term (AMT, current US$)",DT.AMT.DLXF.CD
"Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)",DT.INT.DPNG.CD
"PPG, bonds (AMT, current US$)",DT.AMT.PBND.CD
"PPG, bonds (INT, current US$)",DT.INT.PBND.CD
"PPG, commercial banks (AMT, current US$)",DT.AMT.PCBK.CD
"PPG, commercial banks (DIS, current US$)",DT.DIS.PCBK.CD
"PPG, commercial banks (INT, current US$)",DT.INT.PCBK.CD
"PPG, other private creditors (AMT, current US$)",DT.AMT.PROP.CD
"PPG, other private creditors (DIS, current US$)",DT.DIS.PROP.CD
"PPG, other private creditors (INT, current US$)",DT.INT.PROP.CD
"PPG, private creditors (AMT, current US$)",DT.AMT.PRVT.CD
"PPG, private creditors (DIS, current US$)",DT.DIS.PRVT.CD
"PPG, private creditors (INT, current US$)",DT.INT.PRVT.CD
"Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)",DT.AMT.DPNG.CD

<p>Vamos a encontrar las respuestas a preguntas como:

<p>¿Cuál es el monto total de la deuda que deben los países enumerados en el conjunto de datos?
<p>¿Qué país posee la cantidad máxima de deuda y cómo se ve esa cantidad?
<p>¿Cuál es el monto promedio de la deuda de los países a través de diferentes indicadores de deuda?
    
Además tenemos otro dataset en el que encontramos información histórica de algunos índices de desarrollo, entre los que se encuentran algunos de deuda como son:

Series Name,Series Code
"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN

"Central government debt, total (current LCU)",GC.DOD.TOTL.CN

"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS

------------------------------

#### **1. Inicializar y cargar el contexto spark**

In [ ]:
# Instalacion
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

# Importo un enviroment de java y spark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

# Impoero e inicio findspark
import findspark
findspark.init()

# Inicio sesion del contexto spark
from pyspark import SparkContext

#Creo un objeto rdd para trabajar con el
sc = SparkContext.getOrCreate()

# Importo SparkSession desde pyspark.sql
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

# Creacion de objeto llamado spark
spark = SparkSession.builder.master("local[*]").getOrCreate()

### CARGA DE BASES DE DATOS

1. Cargamos y visualización de los datos

In [ ]:
# Desarrollo
data_file_desarrollo = "indicadores_desarrollo.csv"
raw_desarrollo = sc.textFile(data_file_desarrollo) # leemos el archivo 
raw_desarrollo.take(2)

['country_name,country_code,anho,GC.DOD.TOTL.CN,GC.DOD.TOTL.GD.ZS,SP.DYN.CBRT.IN',
 'Albania,ALB,2014 [YR2014],1023040800000,73.3202469198429,12.259']

In [ ]:
# Deuda
data_file_deuda = "indicadores_deuda.csv"
raw_deuda = sc.textFile(data_file_deuda)
raw_deuda.take(2)

['country_name,country_code,DT.AMT.BLAT.CD,DT.AMT.DLXF.CD,DT.AMT.DPNG.CD,DT.AMT.MLAT.CD,DT.AMT.OFFT.CD,DT.AMT.PBND.CD,DT.AMT.PCBK.CD,DT.AMT.PROP.CD,DT.AMT.PRVT.CD,DT.DIS.BLAT.CD,DT.DIS.DLXF.CD,DT.DIS.MLAT.CD,DT.DIS.OFFT.CD,DT.DIS.PCBK.CD,DT.DIS.PROP.CD,DT.DIS.PRVT.CD,DT.INT.BLAT.CD,DT.INT.DLXF.CD,DT.INT.DPNG.CD,DT.INT.MLAT.CD,DT.INT.OFFT.CD,DT.INT.PBND.CD,DT.INT.PCBK.CD,DT.INT.PROP.CD,DT.INT.PRVT.CD',
 'Afghanistan,AFG,61739336.9,100847181.9,,39107845,100847181.9,,,,,49114729.4,72894453.7,23779724.3,72894453.7,,,,39903620.1,53239440.1,,13335820,53239440.1,,,,']

2. Quitamos la cabecera

In [ ]:
# Desarrollo
cabecera =raw_desarrollo .first()
desarrollo_sin_cabecera = raw_desarrollo.filter(lambda x: x != cabecera)
desarrollo_sin_cabecera.take(2)

['Albania,ALB,2014 [YR2014],1023040800000,73.3202469198429,12.259',
 'Albania,ALB,2015 [YR2015],1145500940000,79.8644448747259,12.197']

In [ ]:
# Deuda 
cabecera = raw_deuda.first()
deuda_sin_cabecera = raw_deuda.filter(lambda x: x != cabecera)
deuda_sin_cabecera.take(1)

['Afghanistan,AFG,61739336.9,100847181.9,,39107845,100847181.9,,,,,49114729.4,72894453.7,23779724.3,72894453.7,,,,39903620.1,53239440.1,,13335820,53239440.1,,,,']

3. Separamos por `,`

In [ ]:
# Desarrollo
desarrollo_pars = desarrollo_sin_cabecera.map(lambda x: x.split(","))
desarrollo_pars.take(2)

[['country_name',
  'country_code',
  'anho',
  'GC.DOD.TOTL.CN',
  'GC.DOD.TOTL.GD.ZS',
  'SP.DYN.CBRT.IN'],
 ['Albania',
  'ALB',
  '2014 [YR2014]',
  '1023040800000',
  '73.3202469198429',
  '12.259']]

In [ ]:
# Deuda
deuda_pars = deuda_sin_cabecera.map(lambda x: x.split(","))
deuda_pars.take(2)

[['Afghanistan',
  'AFG',
  '61739336.9',
  '100847181.9',
  '',
  '39107845',
  '100847181.9',
  '',
  '',
  '',
  '',
  '49114729.4',
  '72894453.7',
  '23779724.3',
  '72894453.7',
  '',
  '',
  '',
  '39903620.1',
  '53239440.1',
  '',
  '13335820',
  '53239440.1',
  '',
  '',
  '',
  ''],
 ['Albania',
  'ALB',
  '54250280.6',
  '790248675.2',
  '514185620',
  '182197616.7',
  '236447897.3',
  '0',
  '39445139.5',
  '170018.4',
  '39615157.9',
  '76050616.1',
  '317194512.5',
  '234321242.3',
  '310371858.4',
  '4542664.9',
  '2279989.2',
  '6822654.1',
  '13847333.6',
  '165602386.9',
  '87884000',
  '28101536.1',
  '41948869.7',
  '31030688.2',
  '4618504.3',
  '120324.7',
  '35769517.2']]

4. Paso a float los valores perdidos

In [ ]:
def tofloat (x):
  if x in ["" , " " , "nan" , "null"]:
    output = 0.0
  else:
    output = float(x)
  return output

5. Modificamos los nombres para que las filas tengan la misma longitud (cada celda en su sitio)

In [ ]:
# creamos una función
def parsed2(line,lon):
    line_splitted = line.split(",") # lo separo por ,
    if (len(line_splitted) == lon): #6 para desarrollo y 27 para deuda
        l = line_splitted
    else:
        l = line_splitted[2:] # los que no cumplan que sea = 2
        l.insert(0, line_splitted[0]+line_splitted[1]) # que me introduzca el nombre por delante
    return l

In [ ]:
# Desarrollo
desarrollo = desarrollo_sin_cabecera.map(lambda x: parsed2(x,6)).map(lambda x: len(x)).distinct() # todas las filas tienen la longitud de 6
desarrollo.take(2)

[6]

In [ ]:
# Deuda
deuda = deuda_sin_cabecera.map(lambda x: parsed2(x,27)).map(lambda x: len(x)).distinct()
deuda.take(2)

[27]

***

##### **2. Número de países distintos en cada dataset. Coinciden?**

* Indicadores Desarrollo

In [ ]:
desarrollo_pars.map(lambda x: x[0]).distinct().count() # tiene que salir 52

52

In [ ]:
print("El número de paises distintos de en la base de datos de indicadores de desarrollo es {} ".format(desarrollo_pars.map(lambda x: x[0]).distinct().count()))

El número de paises distintos de en la base de datos de indicadores de desarrollo es 52

* Indicador de Deuda

In [ ]:
raw_deuda.map(lambda x: parsed2(x,27)).map(lambda x: x[0]).distinct().count()

125

In [ ]:
deuda_pars.map(lambda x: x[0]).distinct().count() # tiene que salir 124

123

In [ ]:
print("El número de paises distintos de en la base de datos de indicadores de deuda es {} ".format(deuda_pars_sin_cabecera.map(lambda x: x[0]).distinct().count()))

El número de paises distintos de en la base de datos de indicadores de deuda es 124

##### **3. Total de deuda contraida por cada pais: total amount of debt (in USD) DT.AMT.MLAT.CD**

In [ ]:
total_deuda = deuda_pars.map(lambda x: (x[0] , x[5])) # selecciono solo la columna 1 hasta la 6 
total_deuda.collect()

[('Afghanistan', '39107845'),
 ('Albania', '182197616.7'),
 ('Algeria', '0'),
 ('Angola', '124688691.9'),
 ('Armenia', '94331207.1'),
 ('Azerbaijan', '513623656.5'),
 ('Bangladesh', '1039564682.7'),
 ('Belarus', '595438826'),
 ('Belize', '29683326.5'),
 ('Benin', '91631639.5'),
 ('Bhutan', '17390420.5'),
 ('Bolivia', '357721211.5'),
 ('Bosnia and Herzegovina', '290170946.5'),
 ('Botswana', '125652344.5'),
 ('Brazil', '2514318741.6'),
 ('Bulgaria', '228993019.8'),
 ('Burkina Faso', '119510893'),
 ('Burundi', '16115111.8'),
 ('Cabo Verde', '39970124.9'),
 ('Cambodia', '72307001.8'),
 ('Cameroon', '152095968.1'),
 ('Central African Republic', '2241813.8'),
 ('Chad', '95738709.5'),
 ('China', '2615723714.1'),
 ('Colombia', '1100907553.6'),
 ('Comoros', '2182053.1'),
 ('"Congo', ''),
 ('"Congo', ''),
 ('Costa Rica', '272808260.7'),
 ("Cote d'Ivoire", '84629406.5'),
 ('Djibouti', '34254909.2'),
 ('Dominica', '11130355.8'),
 ('Dominican Republic', '254728306.1'),
 ('Ecuador', '578894793.9'),
 ('"Egypt', '94662397.3'),
 ('El Salvador', '298939687.1'),
 ('Eritrea', '15482475.4'),
 ('Eswatini', '18130218.8'),
 ('Ethiopia', '171590722.7'),
 ('Fiji', '9082442.6'),
 ('Gabon', '62404132.3'),
 ('"Gambia', ''),
 ('Georgia', '144062401.5'),
 ('Ghana', '130202003.1'),
 ('Grenada', '13740888.8'),
 ('Guatemala', '339822253.6'),
 ('Guinea', '29819676.8'),
 ('Guinea-Bissau', '6713257.2'),
 ('Guyana', '34651806.5'),
 ('Haiti', '10087968.8'),
 ('Honduras', '148225048.7'),
 ('IDA only', '4884095623.3'),
 ('India', '4545609909.9'),
 ('Indonesia', '2469145824.7'),
 ('"Iran', ''),
 ('Jamaica', '174427648'),
 ('Jordan', '270498715.5'),
 ('Kazakhstan', '1079948889.7'),
 ('Kenya', '391340889.9'),
 ('Kosovo', '33590154.6'),
 ('Kyrgyz Republic', '75278037.2'),
 ('Lao PDR', '80684114.6'),
 ('Least developed countries: UN classification', '4084275524.2'),
 ('Lebanon', '167638089.7'),
 ('Lesotho', '32459403.7'),
 ('Liberia', '7383619.4'),
 ('"Macedonia', '571657452.1'),
 ('Madagascar', '60669367.3'),
 ('Malawi', '35659831.4'),
 ('Maldives', '17896143.5'),
 ('Mali', '135472245.9'),
 ('Mauritania', '184408220.2'),
 ('Mauritius', '74568335.5'),
 ('Mexico', '864181883.5'),
 ('Moldova', '135842865.5'),
 ('Mongolia', '75937145.9'),
 ('Montenegro', '77948064.8'),
 ('Morocco', '1381649282.3'),
 ('Mozambique', '91225626.1'),
 ('Myanmar', '30569845.2'),
 ('Nepal', '163747512.9'),
 ('Nicaragua', '181115898'),
 ('Niger', '115132364.5'),
 ('Nigeria', '297246686.6'),
 ('Pakistan', '1578651453.9'),
 ('Papua New Guinea', '78345326'),
 ('Paraguay', '207662030.9'),
 ('Peru', '553634090'),
 ('Philippines', '739056427.3'),
 ('Romania', '1798305095.8'),
 ('Russian Federation', '141669500'),
 ('Rwanda', '31090382.5'),
 ('Samoa', '9987486.6'),
 ('Sao Tome and Principe', '2418947.6'),
 ('Senegal', '170437929.1'),
 ('Serbia', '715223963.7'),
 ('Sierra Leone', '24144262.8'),
 ('Solomon Islands', '3952828.9'),
 ('Somalia', '24683262.9'),
 ('South Africa', '346393763.9'),
 ('South Asia', '7851739929.5'),
 ('Sri Lanka', '449771961.1'),
 ('St. Lucia', '15019216.3'),
 ('St. Vincent and the Grenadines', '21615600.7'),
 ('Sudan', '217194878.8'),
 ('Syrian Arab Republic', '147903571.1'),
 ('Tajikistan', '59062982'),
 ('Tanzania', '141436637'),
 ('Thailand', '39071571.5'),
 ('Timor-Leste', '825000'),
 ('Togo', '44198800.7'),
 ('Tonga', '2791253.2'),
 ('Tunisia', '956604000.1'),
 ('Turkey', '2932698678'),
 ('Turkmenistan', '5831189.2'),
 ('Uganda', '145310077.2'),
 ('Ukraine', '1072472830.3'),
 ('Uzbekistan', '244240575.6'),
 ('Vanuatu', '2593419.3'),
 ('"Venezuela', '6517487000'),
 ('Vietnam', '947632152.5'),
 ('"Yemen', ''),
 ('Zambia', '53068964.9'),
 ('Zimbabwe', '26697905.1')]

##### 4. Media de los indicadores de deuda (tabla uno): DT.AMT.BLAT.CD, DT.DIS.BLAT.CD, DT.INT.BLAT.CD

In [ ]:
#Cargo la libreria statistics para poder hacer la media 
from pyspark.mllib.stat import Statistics

In [ ]:
# todo
filtro = deuda_pars.map(lambda x: (x[0],x[2],x[11],x[18])) 
filtro.collect()

[('Afghanistan', '61739336.9', '49114729.4', '39903620.1'),
 ('Albania', '54250280.6', '76050616.1', '13847333.6'),
 ('Algeria', '95188724.6', '10320772.2', '7680627.6'),
 ('Angola', '8473824016.3', '8838256901.1', '1005053965.1'),
 ('Armenia', '68968314.7', '174269846.7', '24094832'),
 ('Azerbaijan', '106369937', '84748079.6', '10085950'),
 ('Bangladesh', '386702219.8', '6141785637.5', '309079773.4'),
 ('Belarus', '1487363278.5', '2265336386.7', '630234914.9'),
 ('Belize', '23329498.4', '3581448.7', '3455608.4'),
 ('Benin', '26014505.8', '334698287.3', '13208408.6'),
 ('Bhutan', '189877869.8', '95819437.4', '184064524.8'),
 ('Bolivia', '67814879.9', '554128686.3', '32609012.4'),
 ('Bosnia and Herzegovina', '108704966.2', '114375048.3', '12605397.7'),
 ('Botswana', '7903563.5', '1316332.2', '884447.5'),
 ('Brazil', '2097380010.6', '1179125278.8', '333237826.9'),
 ('Bulgaria', '35764202.8', '', '6012379.2'),
 ('Burkina Faso', '27371336', '90915960.2', '7382485.5'),
 ('Burundi', '10461498.5', '42339024.4', '520425.7'),
 ('Cabo Verde', '11767654.3', '37178444.8', '4216236.3'),
 ('Cambodia', '223300273.6', '476683829.4', '63836683.2'),
 ('Cameroon', '9999925153.3', '17090544247.5', '120877158.5'),
 ('Central African Republic', '8462062.9', '19477551.6', '860961'),
 ('Chad', '82357214.9', '27987660.9', '11882770.9'),
 ('China', '6532446441.9', '', '514898407.1'),
 ('Colombia', '447557894.1', '110671664.3', '122715407.2'),
 ('Comoros', '2610216', '8492726.4', '782831.5'),
 ('"Congo', 'COD', '278750', ''),
 ('"Congo', 'COG', '21696428.5', ''),
 ('Costa Rica', '34085176.1', '105969275.9', '10709783.4'),
 ("Cote d'Ivoire", '478283000.5', '526901028', '73124399.9'),
 ('Djibouti', '48803279.1', '85687012.1', '44878881.9'),
 ('Dominica', '8487067.1', '1092575', '1693891.5'),
 ('Dominican Republic', '214014574.6', '311336450.8', '43812226.9'),
 ('Ecuador', '1177917742.6', '415778474.8', '424453624.8'),
 ('"Egypt', 'EGY', '223363381.1', '196463721.6'),
 ('El Salvador', '46180727.2', '16377537.9', '10447436.1'),
 ('Eritrea', '15627602.4', '2678802.6', '1556112.1'),
 ('Eswatini', '21586421.3', '54462529.7', '5511319'),
 ('Ethiopia', '510741366.9', '1142444763.3', '331367061.4'),
 ('Fiji', '37382876.6', '3902886.7', '6175526.5'),
 ('Gabon', '114697076', '354919707', '33263802.5'),
 ('"Gambia', 'GMB', '974231.4', ''),
 ('Georgia', '63831412.1', '110677830.3', '2435342284.4'),
 ('Ghana', '865892038.7', '1163413713.8', '105007672'),
 ('Grenada', '11639110.2', '23225424.8', '3290655.4'),
 ('Guatemala', '41738434.7', '56408511.8', '8721281.3'),
 ('Guinea', '8832105.1', '61782399.4', '3723822.7'),
 ('Guinea-Bissau', '70371.9', '', '24800'),
 ('Guyana', '21758525.7', '35584684.1', '4885618.3'),
 ('Haiti', '51356369.6', '1597000', '10474000'),
 ('Honduras', '35890751.9', '91251459.7', '31044538.5'),
 ('IDA only', '6273480947.8', '16882903064.4', '2351375435.8'),
 ('India', '2451995834.5', '5588550763.4', '455965157.6'),
 ('Indonesia', '3233436193.9', '2289402723.3', '476814537.9'),
 ('"Iran', 'IRN', '9025208.2', '32761505.6'),
 ('Jamaica', '93733672.1', '112848973.6', '19718160.9'),
 ('Jordan', '230204467.2', '175484307.3', '62136103.7'),
 ('Kazakhstan', '44784496.7', '254112169.3', '49233512.4'),
 ('Kenya', '515101268.1', '1582905042', '342056817'),
 ('Kosovo', '5173195.2', '29959141.9', '1704127.3'),
 ('Kyrgyz Republic', '62213250.6', '153027414.4', '43802082.9'),
 ('Lao PDR', '346861942.2', '966004791.1', '134508386.6'),
 ('Least developed countries: UN classification',
  '12944703036.6',
  '23333956388.4',
  '3029826352.3'),
 ('Lebanon', '137130312.1', '129913451.7', '16970779.5'),
 ('Lesotho', '12806231.5', '13239867.2', '2704841.4'),
 ('Liberia', '602095.8', '33122214.9', '2971664.1'),
 ('"Macedonia', 'MKD', '47665668.9', '15758935.3'),
 ('Madagascar', '34102362.9', '201529156.1', '3611119.1'),
 ('Malawi', '21762541.7', '26559943.3', '7850229.4'),
 ('Maldives', '48054924.5', '171056385.2', '17789090.5'),
 ('Mali', '80562273.4', '174563540.6', '14961901.1'),
 ('Mauritania', '197041185.1', '262893890.2', '39896318.9'),
 ('Mauritius', '113174983.3', '43276477.1', '13702507.5'),
 ('Mexico', '382457219.1', '10959800', '59839853.4'),
 ('Moldova', '52456210.6', '31959827.1', '3292727.3'),
 ('Mongolia', '52159543.5', '122040716.9', '23580386.5'),
 ('Montenegro', '127450152.9', '159653202.4', '20505157.3'),
 ('Morocco', '742287180.6', '381225311.4', '147741097.6'),
 ('Mozambique', '307444585.4', '428319700.7', '89226721.5'),
 ('Myanmar', '519713545.7', '704626596.3', '217742156'),
 ('Nepal', '48512381.5', '211256468.1', '8120651.8'),
 ('Nicaragua', '33414678.5', '91410630.2', '9117269.5'),
 ('Niger', '38815599.9', '150675402.1', '20553332.6'),
 ('Nigeria', '86761615.4', '197807330.6', '69169718.3'),
 ('Pakistan', '2175483884.5', '3281555124', '719897921.2'),
 ('Papua New Guinea', '30768505.2', '272745704.4', '17727088.6'),
 ('Paraguay', '58314162.7', '132431540.4', '5158922.3'),
 ('Peru', '114574694.7', '123873090.2', '20175359.1'),
 ('Philippines', '670475417.9', '544148527.8', '104237992.9'),
 ('Romania', '46961486.3', '115066917.8', '8014478.4'),
 ('Russian Federation', '69924222.2', '', '11030000'),
 ('Rwanda', '8604526', '69086251.9', '7310975.7'),
 ('Samoa', '11727921.8', '3362614.4', '2965245'),
 ('Sao Tome and Principe', '522448.7', '1918.9', '802594.2'),
 ('Senegal', '132241030.2', '548648509.1', '62856549.3'),
 ('Serbia', '328727524.6', '703434606.4', '156469393.1'),
 ('Sierra Leone', '8755657.7', '32566565', '2736397.7'),
 ('Solomon Islands', '1207375', '', '284000'),
 ('Somalia', '8301771.4', '', '925000'),
 ('South Africa', '', '', ''),
 ('South Asia', '6437804448.1', '17269114040.9', '2004917449.3'),
 ('Sri Lanka', '1075437996.6', '1729975495.9', '270096709.9'),
 ('St. Lucia', '5113457.5', '5713700.5', '1375737.7'),
 ('St. Vincent and the Grenadines', '3070092.3', '8155461.4', '1181883.8'),
 ('Sudan', '262918897.8', '376666146.5', '40572544.5'),
 ('Syrian Arab Republic', '159358328.9', '126505578', '9269996.5'),
 ('Tajikistan', '73281257.2', '4600834.4', '26333637.2'),
 ('Tanzania', '194944695.3', '150348676', '40941173.9'),
 ('Thailand', '277799616.8', '301616651.9', '59731471.1'),
 ('Timor-Leste', '', '9869907', ''),
 ('Togo', '25160550.3', '79978552.9', '12931550.3'),
 ('Tonga', '7554054', '', '1559371'),
 ('Tunisia', '507052864.2', '855186119.9', '87248174.8'),
 ('Turkey', '646463879.8', '415269075.4', '110410777.7'),
 ('Turkmenistan', '14046164.6', '', '2505907.3'),
 ('Uganda', '64110341.2', '538450864.4', '73813147'),
 ('Ukraine', '95941219.4', '', '19809816.8'),
 ('Uzbekistan', '273378640', '503520641.3', '64937572.1'),
 ('Vanuatu', '10956691', '9007166.6', '3160158.4'),
 ('"Venezuela', 'VEN', '2745605240.9', '102206207.3'),
 ('Vietnam', '1561158600.3', '4134438674.8', '502741840.9'),
 ('"Yemen', 'YEM', '', ''),
 ('Zambia', '211048374.3', '711130463.7', '121800491.2'),
 ('Zimbabwe', '71794214.8', '42332836.7', '11769908.3')]

In [ ]:
indicador = filtro.filter(lambda x: not '"Congo' in x[0])\
                  .filter(lambda x: not '"Egypt' in x[0])\
                  .filter(lambda x: not '"Gambia' in x[0])\
                  .filter(lambda x: not '"Iran' in x[0])\
                  .filter(lambda x: not '"Macedonia' in x[0])\
                  .filter(lambda x: not 'Timor-Leste' in x[0])\
                  .filter(lambda x: not 'South Africa' in x[0])\
                  .filter(lambda x: not '"Yemen' in x[0])\
                  .filter(lambda x: not '"Venezuela' in x[0])\
                  .filter(lambda x: not 'Least developed countries: UN classification' in x[0])\
                  .filter(lambda x: not 'St. Lucia' in x[0])\
                  .filter(lambda x: not 'Somalia' in x[0])\
                  .filter(lambda x: not 'St. Lucia' in x[0])\
                  .filter(lambda x: not 'Tonga' in x[0])\
                  .filter(lambda x: not 'St. Vincent and the Grenadines' in x[0])\
                  .filter(lambda x: not 'Guinea-Bissau' in x[0]).persist() # para que quede guardado en la memoria
columna1 =indicador.map(lambda x: (tofloat(x[1]))).mean()
columna2= indicador.map(lambda x: (tofloat(x[2]))).mean()
columna3=indicador.filter(lambda x: x[3] != "").map(lambda x: (tofloat(x[3]))).mean()

In [ ]:
print("La media de la columna 1 es {}".format(round(columna1)))
print("La media de la columna 2 es {}".format(round(columna2)))
print("La media de la columna 3 es {}".format(round(columna3)))

La media de la columna 1 es 614452236
La media de la columna 2 es 991195020
La media de la columna 3 es 151600343

##### 5. Los 20 paises con DT.AMT.DLXF.CD más alto

In [ ]:
hdeuda=deuda_sin_cabecera.first()
# 27 es el numero de columnas
deuda_sin_cabecera.filter(lambda x: x != hdeuda).map(lambda x: parsed2(x,27)).map(lambda x: (x[0],x[3])).\
takeOrdered(20,lambda x: -float(x[1])) #-float para que me lo ordene de forma descendente y me quede el maximo el primero

[('China', '96218620835.7'),
 ('Brazil', '90041840304.1'),
 ('Russian Federation', '66589761833.5'),
 ('Turkey', '51555031005.8'),
 ('South Asia', '48756295898.2'),
 ('India', '31923507000.8'),
 ('Indonesia', '30916112653.8'),
 ('Kazakhstan', '27482093686.4'),
 ('Mexico', '25218503927'),
 ('Least developed countries: UN classification', '25197029299.4'),
 ('IDA only', '20483289208'),
 ('Romania', '14013783350.4'),
 ('Colombia', '11985674438.7'),
 ('Angola', '11067045628.1'),
 ('Cameroon', '10404814960.2'),
 ('"Venezuela RB"', '9878659207.2'),
 ('"Egypt Arab Rep."', '9692114176.9'),
 ('Lebanon', '9506919669.6'),
 ('South Africa', '9474257551.9'),
 ('Vietnam', '8873505909.2')]

##### 6. Pais con los datos informados todos los años.

In [ ]:
desarrollo_pars.map(lambda x: (x[0], x[2])).sortBy(lambda x: x[0], ascending = False).distinct().collect()

In [ ]:
pais =desarrollo_pars.filter(lambda x: "2017" in x[2]).map(lambda x: (x[0])).collect()
print("El país con datos de todos los años es" ,format(pais))

El país con datos de todos los años es ['Malawi']

##### 7. Media anual de los distintos indicadores de desarrollo

In [ ]:
from pyspark.sql import *
from pyspark.sql import SQLContext, functions as F, Row
from pyspark.sql.types import *
from pyspark.sql.types import StringType, IntegerType

In [ ]:
datos = pd.read_csv('indicadores_desarrollo.csv', sep =',', names=["country_name", "country_code","anho","GC_DOD_TOTL_CN","GC_DOD_TOTL_GD_ZS", "SP_DYN_CBRT_IN"], skiprows=1)

In [ ]:
df_desarrollo = sqlContext.createDataFrame(datos)
df_desarrollo.show(10)

+------------+------------+-------------+---------------+-------------------+------------------+
|country_name|country_code|         anho| GC_DOD_TOTL_CN|  GC_DOD_TOTL_GD_ZS|    SP_DYN_CBRT_IN|
+------------+------------+-------------+---------------+-------------------+------------------+
|     Albania|         ALB|2014 [YR2014]|   1.0230408E12|  73.32024691984292|            12.259|
|     Albania|         ALB|2015 [YR2015]|  1.14550094E12|   79.8644448747259|12.197000000000001|
|     Albania|         ALB|2016 [YR2016]|  1.18881449E12|  80.73557483969229|             12.08|
|   Australia|         AUS|2014 [YR2014]|        6.747E8|  0.042207528166503|              13.2|
|   Australia|         AUS|2015 [YR2015]|      7.62718E8| 0.0469480198522591|              12.9|
|   Australia|         AUS|2016 [YR2016]|      9.07555E8|0.05464848252016901|              12.9|
|Bahamas, The|         BHS|2014 [YR2014]|      5.15842E9|   47.2672793747079|             14.34|
|Bahamas, The|         BHS|2015 [YR2015]|      5.65515E9|  48.11951703070889|            14.224|
|Bahamas, The|         BHS|2016 [YR2016]|     6.138814E9| 51.420743148160604|14.130999999999998|
|    Barbados|         BRB|2014 [YR2014]|1.2175704025E10|   129.629591844133|10.915999999999999|
+------------+------------+-------------+---------------+-------------------+------------------+
only showing top 10 rows

In [ ]:
df_desarrollo.groupby('anho').agg(F.mean('GC_DOD_TOTL_CN')).show()

+-------------+--------------------+
|         anho| avg(GC_DOD_TOTL_CN)|
+-------------+--------------------+
|2016 [YR2016]|1.588138215480659...|
|2014 [YR2014]|1.034427587329532...|
|2017 [YR2017]| 2.23985861996269E12|
|2015 [YR2015]|1.318244039159025E14|
+-------------+--------------------+

In [ ]:
df_desarrollo.groupby('anho').agg(F.mean('GC_DOD_TOTL_GD_ZS')).show()

+-------------+----------------------+
|         anho|avg(GC_DOD_TOTL_GD_ZS)|
+-------------+----------------------+
|2016 [YR2016]|    58.796949624008356|
|2014 [YR2014]|    56.843914344384395|
|2017 [YR2017]|       48.659564238322|
|2015 [YR2015]|     58.36559834488034|
+-------------+----------------------+

In [ ]:
df_desarrollo.groupby('anho').agg(F.mean('SP_DYN_CBRT_IN')).show()

+-------------+-------------------+
|         anho|avg(SP_DYN_CBRT_IN)|
+-------------+-------------------+
|2016 [YR2016]| 16.144333333333332|
|2014 [YR2014]| 17.582620000000002|
|2017 [YR2017]|             34.593|
|2015 [YR2015]| 16.798477272727272|
+-------------+-------------------+

##### 8. Podrías decirme el total de deuda acumulada DT.AMT.MLAT.CD por los 10 países con un valor en media menor de SP.DYN.CBRT.IN

In [ ]:
# funciones
from pyspark.sql.functions import col, avg, desc, sum

Creamos los dataframe para poder trabajar con ellos.

In [ ]:
# dataframe de desarrollo
df_desarrollo = pd.read_csv(data_file_desarrollo)
desarrollo_df = sqlContext.createDataFrame(df_desarrollo)
desarrollo_df.show(5)

+------------+------------+-------------+--------------+------------------+------------------+
|country_name|country_code|         anho|GC.DOD.TOTL.CN| GC.DOD.TOTL.GD.ZS|    SP.DYN.CBRT.IN|
+------------+------------+-------------+--------------+------------------+------------------+
|     Albania|         ALB|2014 [YR2014]|  1.0230408E12| 73.32024691984292|            12.259|
|     Albania|         ALB|2015 [YR2015]| 1.14550094E12|  79.8644448747259|12.197000000000001|
|     Albania|         ALB|2016 [YR2016]| 1.18881449E12| 80.73557483969229|             12.08|
|   Australia|         AUS|2014 [YR2014]|       6.747E8| 0.042207528166503|              13.2|
|   Australia|         AUS|2015 [YR2015]|     7.62718E8|0.0469480198522591|              12.9|
+------------+------------+-------------+--------------+------------------+------------------+
only showing top 5 rows

In [ ]:
#dataframe de deuda
df_deuda = pd.read_csv(data_file_deuda)
deuda_df = sqlContext.createDataFrame(df_deuda)
deuda_df.show(5)

+------------+------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
|country_name|country_code|DT.AMT.BLAT.CD|  DT.AMT.DLXF.CD|DT.AMT.DPNG.CD|DT.AMT.MLAT.CD|DT.AMT.OFFT.CD|DT.AMT.PBND.CD|DT.AMT.PCBK.CD|DT.AMT.PROP.CD|DT.AMT.PRVT.CD|DT.DIS.BLAT.CD|  DT.DIS.DLXF.CD|DT.DIS.MLAT.CD|DT.DIS.OFFT.CD|DT.DIS.PCBK.CD|DT.DIS.PROP.CD|DT.DIS.PRVT.CD|DT.INT.BLAT.CD|DT.INT.DLXF.CD|DT.INT.DPNG.CD|DT.INT.MLAT.CD|DT.INT.OFFT.CD|DT.INT.PBND.CD|DT.INT.PCBK.CD|DT.INT.PROP.CD|DT.INT.PRVT.CD|
+------------+------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Afghanistan|         AFG|  6.17393369E7|   1.008471819E8|           NaN|   3.9107845E7| 1.008471819E8|           NaN|           NaN|           NaN|           NaN|  4.91147294E7|    7.28944537E7|  2.37797243E7|  7.28944537E7|           NaN|           NaN|           NaN|  3.99036201E7|  5.32394401E7|           NaN|    1.333582E7|  5.32394401E7|           NaN|           NaN|           NaN|           NaN|
|     Albania|         ALB|  5.42502806E7|   7.902486752E8|   5.1418562E8| 1.821976167E8| 2.364478973E8|           0.0|  3.94451395E7|      170018.4|  3.96151579E7|  7.60506161E7|   3.171945125E8| 2.343212423E8| 3.103718584E8|     4542664.9|     2279989.2|     6822654.1|  1.38473336E7| 1.656023869E8|      8.7884E7|  2.81015361E7|  4.19488697E7|  3.10306882E7|     4618504.3|      120324.7|  3.57695172E7|
|     Algeria|         DZA|  9.51887246E7|   1.711851881E8|       7.542E7|           0.0|  9.51887246E7|           NaN|      576463.5|           0.0|      576463.5|  1.03207722E7|    1.03207722E7|           NaN|  1.03207722E7|           NaN|           NaN|           NaN|     7680627.6|  1.90317287E7|     3220000.0|     8094779.0|  1.57754066E7|           NaN|       13192.3|       23129.8|       36322.1|
|      Angola|         AGO|8.4738240163E9|1.10670456281E10|           NaN| 1.246886919E8|8.5985127082E9|         1.0E9|1.1250887199E9|    3.434442E8|2.4685329199E9|8.8382569011E9|1.09240180931E10| 1.789895982E8|9.0172464993E9|1.9067715938E9|           NaN|1.9067715938E9|1.0050539651E9|1.7985504455E9|           NaN|  4.70384761E7|1.0520924412E9|         7.0E7| 5.809020043E8|      9.5556E7| 7.464580043E8|
|     Armenia|         ARM|  6.89683147E7|   8.456307238E8|   6.8069619E8|  9.43312071E7| 1.632995218E8|           0.0|     1635012.0|           NaN|     1635012.0| 1.742698467E8|   4.269591756E8| 2.526893289E8| 4.269591756E8|           NaN|           NaN|           NaN|   2.4094832E7| 2.752929811E8|     1.28076E8|  5.71714639E7|  8.12662959E7|      6.5754E7|      196685.2|           NaN|  6.59506852E7|
+------------+------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

A continuación los unimos

In [ ]:
union = desarrollo_df.join(other=deuda_df, on=["country_name"], how="inner")
union.show(5)

+------------+------------+-------------+-------------------+------------------+------------------+------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
|country_name|country_code|         anho|     GC.DOD.TOTL.CN| GC.DOD.TOTL.GD.ZS|    SP.DYN.CBRT.IN|country_code|DT.AMT.BLAT.CD|  DT.AMT.DLXF.CD|DT.AMT.DPNG.CD|DT.AMT.MLAT.CD|DT.AMT.OFFT.CD|DT.AMT.PBND.CD|DT.AMT.PCBK.CD|DT.AMT.PROP.CD|DT.AMT.PRVT.CD|DT.DIS.BLAT.CD|DT.DIS.DLXF.CD|DT.DIS.MLAT.CD|DT.DIS.OFFT.CD|DT.DIS.PCBK.CD|DT.DIS.PROP.CD|DT.DIS.PRVT.CD|DT.INT.BLAT.CD|  DT.INT.DLXF.CD|DT.INT.DPNG.CD|DT.INT.MLAT.CD|DT.INT.OFFT.CD|DT.INT.PBND.CD|DT.INT.PCBK.CD|DT.INT.PROP.CD|DT.INT.PRVT.CD|
+------------+------------+-------------+-------------------+------------------+------------------+------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
| Philippines|         PHL|2014 [YR2014]|        5.735242E12|45.394627179381196|            22.935|         PHL| 6.704754179E8|  6.4791709177E9|3.8996374599E9| 7.390564273E8|1.4095318452E9|     9.03941E8| 2.151195881E8|  5.09410245E7|1.1700016126E9| 5.441485278E8|1.5993765863E9| 8.513997524E8|1.3955482802E9| 1.628049362E8|  4.10233699E7| 2.038283061E8| 1.042379929E8|  1.8354902443E9|     6.90769E8| 2.545594869E8| 3.587974798E8| 7.675144059E8|  1.67180309E7|     1691327.7| 7.859237645E8|
|       Tonga|         TON|2014 [YR2014]|       3.78478931E8|    47.04523691734|            25.756|         TON|     7554054.0|    1.03699106E7|           NaN|     2791253.2|  1.03453072E7|           NaN|       24603.4|           NaN|       24603.4|           NaN|     5529604.8|     5529604.8|     5529604.8|           NaN|           NaN|           NaN|     1559371.0|       2503586.2|           NaN|      944215.2|     2503586.2|           NaN|           0.0|           NaN|           0.0|
|       Tonga|         TON|2015 [YR2015]|       4.34560045E8|51.360364614111795|            25.354|         TON|     7554054.0|    1.03699106E7|           NaN|     2791253.2|  1.03453072E7|           NaN|       24603.4|           NaN|       24603.4|           NaN|     5529604.8|     5529604.8|     5529604.8|           NaN|           NaN|           NaN|     1559371.0|       2503586.2|           NaN|      944215.2|     2503586.2|           NaN|           0.0|           NaN|           0.0|
|       Tonga|         TON|2016 [YR2016]|        4.6083562E8|  51.8083889825745|24.976999999999997|         TON|     7554054.0|    1.03699106E7|           NaN|     2791253.2|  1.03453072E7|           NaN|       24603.4|           NaN|       24603.4|           NaN|     5529604.8|     5529604.8|     5529604.8|           NaN|           NaN|           NaN|     1559371.0|       2503586.2|           NaN|      944215.2|     2503586.2|           NaN|           0.0|           NaN|           0.0|
|      Turkey|         TUR|2014 [YR2014]|6.45312129880536E11|31.563849390292802|             16.94|         TUR| 6.464638798E8|5.15550310058E10|3.991619743E10| 2.932698678E9|3.5791625578E9|    6.499125E9|1.5272439531E9|  3.33020649E7| 8.059671018E9| 4.152690754E8|2.5144431471E9|1.5895239021E9|2.0047929775E9| 5.096501696E8|           NaN| 5.096501696E8| 1.104107777E8|1.20955686422E10|  7.45317292E9| 5.246171909E8| 6.350279686E8| 3.786751212E9| 2.200440398E8|      572501.8|4.0073677536E9|
+------------+------------+-------------+-------------------+------------------+------------------+------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+
only showing top 5 rows

In [ ]:
# Para renombrar (porque nos da probelmas) las columnas utilizaremos la función withColumnRenamned()
df = union.withColumnRenamed("anho", "year") \
    .withColumnRenamed("DT.AMT.MLAT.CD", "deuda") \
    .withColumnRenamed("SP.DYN.CBRT.IN", "birthdate")

In [ ]:
colum = df.select("country_name","deuda","birthdate")
colum.show()

+------------+-------------+------------------+
|country_name|        deuda|         birthdate|
+------------+-------------+------------------+
| Philippines|7.390564273E8|            22.935|
|       Tonga|    2791253.2|            25.756|
|       Tonga|    2791253.2|            25.354|
|       Tonga|    2791253.2|24.976999999999997|
|      Turkey|2.932698678E9|             16.94|
|      Turkey|2.932698678E9|            16.718|
|      Turkey|2.932698678E9|            16.494|
|      Malawi| 3.56598314E7|            36.629|
|      Malawi| 3.56598314E7|            35.839|
|      Malawi| 3.56598314E7|35.163000000000004|
|      Malawi| 3.56598314E7|            34.593|
|      Jordan|2.704987155E8|25.214000000000002|
|      Jordan|2.704987155E8|            23.396|
|   Sri Lanka|4.497719611E8|            16.849|
|   Sri Lanka|4.497719611E8|            16.609|
|     Albania|1.821976167E8|            12.259|
|     Albania|1.821976167E8|12.197000000000001|
|     Albania|1.821976167E8|             12.08|
|        Peru|  5.5363409E8|            18.827|
|        Peru|  5.5363409E8|            18.544|
+------------+-------------+------------------+
only showing top 20 rows

In [ ]:
# agrupamos
total = colum.groupBy("country_name", "deuda").agg(avg("birthdate"))
total.show()

+------------------+--------------+------------------+
|      country_name|         deuda|    avg(birthdate)|
+------------------+--------------+------------------+
|       Philippines| 7.390564273E8|            22.935|
|             Tonga|     2791253.2| 25.36233333333333|
|            Turkey| 2.932698678E9|16.717333333333332|
|            Malawi|  3.56598314E7|            35.556|
|            Jordan| 2.704987155E8|            24.305|
|         Sri Lanka| 4.497719611E8|            16.729|
|           Albania| 1.821976167E8|12.178666666666667|
|              Peru|   5.5363409E8|18.564666666666668|
|         St. Lucia|  1.50192163E7|            12.502|
|           Belarus|  5.95438826E8|12.466666666666667|
|Russian Federation|    1.416695E8|13.166666666666666|
|          Thailand|  3.90715715E7|           10.9175|
|            Bhutan|  1.73904205E7|            17.791|
|           Ukraine|1.0724728303E9|              10.6|
|           Georgia| 1.440624015E8|            14.056|
|         Indonesia|2.4691458247E9|19.163999999999998|
|         Guatemala| 3.398222536E8|25.628666666666664|
|            Zambia|  5.30689649E7|           38.2975|
|           Jamaica|  1.74427648E8| 16.63566666666667|
|   Kyrgyz Republic|  7.52780372E7| 27.03333333333333|
+------------------+--------------+------------------+
only showing top 20 rows

In [ ]:
# seleccionamos las 10
total = total.sort("avg(birthdate)").limit(10)
total.show()

+--------------------+--------------+------------------+
|        country_name|         deuda|    avg(birthdate)|
+--------------------+--------------+------------------+
|             Ukraine|1.0724728303E9|              10.6|
|             Moldova| 1.358428655E8|10.604333333333335|
|            Thailand|  3.90715715E7|           10.9175|
|             Albania| 1.821976167E8|12.178666666666667|
|             Belarus|  5.95438826E8|12.466666666666667|
|           St. Lucia|  1.50192163E7|            12.502|
|  Russian Federation|    1.416695E8|13.166666666666666|
|             Georgia| 1.440624015E8|            14.056|
|              Brazil|2.5143187416E9|14.467666666666668|
|St. Vincent and t...|  2.16156007E7|            15.011|
+--------------------+--------------+------------------+

In [ ]:
# sumamos todo
total.select(sum("deuda")).show()

+-------------------+
|         sum(deuda)|
+-------------------+
|4.861709170099999E9|
+-------------------+

##### 9. ¿Hay alguna relación entre los nacimientos y el indicador DT.AMT.DLXF.CD? ¿Cómo podrías demostrarlo?

In [ ]:
# funcion para hacer correlacion 
from pyspark.ml.stat import Correlation

In [ ]:
# renombro  "DT.AMT.DLXF.CD" porque me da problemas 
renom = df.withColumnRenamed("DT.AMT.DLXF.CD", "deuda_dlxf")

In [ ]:
# seleccionamos las variables que necesitamos
select = renom.select("birthdate","deuda_dlxf")
select.show()

+------------------+----------------+
|         birthdate|      deuda_dlxf|
+------------------+----------------+
|            22.935|  6.4791709177E9|
|            25.756|    1.03699106E7|
|            25.354|    1.03699106E7|
|24.976999999999997|    1.03699106E7|
|             16.94|5.15550310058E10|
|            16.718|5.15550310058E10|
|            16.494|5.15550310058E10|
|            36.629|    5.74223731E7|
|            35.839|    5.74223731E7|
|35.163000000000004|    5.74223731E7|
|            34.593|    5.74223731E7|
|25.214000000000002|  1.9903434792E9|
|            23.396|  1.9903434792E9|
|            16.849|  5.7614892559E9|
|            16.609|  5.7614892559E9|
|            12.259|   7.902486752E8|
|12.197000000000001|   7.902486752E8|
|             12.08|   7.902486752E8|
|            18.827|  5.8812599747E9|
|            18.544|  5.8812599747E9|
+------------------+----------------+
only showing top 20 rows

In [ ]:
# correlacion 
select.stat.corr("deuda_dlxf", "birthdate")

-0.28663478114959196

--------------------

In [ ]:
# Finalizo el contexto Spark
sc.stop()